// Main Colours
$primary-color: #abc022;
$primary-text: #838383;
$primary-underline: #dee2e6;
$primary-background: #f5f8fd;
$primary-border: #eee;
$secondary-border: #ced4da;
$shadow: #e8e8e8;
$main-footer: #0c0c17;
$footer-border: #1d1d27;
$main-social: #999;
$top-border: #423940;


//Aditional Colors
$white: #fff;
$black: #000;