html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    font-family: sans-serif;
}
*{
    box-sizing: border-box;
    margin: 0;
}
.container{
    max-width: 1140px;
    margin:auto;

}
.row{
    display: flex;
    flex-wrap: wrap;
}